<!DOCTYPE html>
<html>
    <head>
        <link th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/resources/maintheme/main.css}" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title th:text="#{authentication.successTitle}">Logged in</title>
    </head>
    <body>
        <div class="header" th:replace="templates/header :: header"></div>
        <div class="content">
            <h2 th:text="#{authentication.successMessage}">Login successful</h2>
        </div>
        <div class="footer" th:replace="templates/footer :: footer"></div>
    </body>
</html>
